

<div class="body ml-3 mr-3 ">
    <footer id="footer" class="footer-2 bg-dark">
        <div class="w-container">
            <div class="div-block-2">
                <div class="text-block">Register for free</div><a href="#" class="button w-button">Sign up!</a></div>
            <hr>
            <hr>
            <div class="text-block-2 text-white">Copyright © 2020 My Company. All rights reserved.</div>
            <div class="div-block ">
                <a href="https://twitter.com">
                    <img src="https://pixabay.com/get/54e4d6434351af14f1dc8460825668204022dfe05b53784f70267cdd/twitter-2430933_640.png" width="50" sizes="50px" alt="" class="image">
                </a>
                <a href="https://instagram.com">
                    <img src="https://pixabay.com/get/57e6d2464c55ac14f1dc8460825668204022dfe05b53784f732e79d4/instagram-1675670_640.png" width="50" alt="">
                </a>
                <a href="https://Facebook.com">
                    <img src="https://pixabay.com/de/images/download/facebook-2429746_640.png" width="50" sizes="50px" alt="">
                </a>
                <a href="https://linkedin.com">
                    <img src="https://pixabay.com/de/images/download/linked-in-2668700_640.png" width="50" sizes="50px" alt="">
                </a>
            </div>
        </div>
    </footer>